.cars{
    background-color: aqua;
    boarder: 2px red;
    text-align: center;
    padding: 20px;
    margin: 20px;
}
.fruits{
    background-color: darkseagreen;
    boarder: 2px red;
    text-align: center;
    padding: 20px;
    margin: 20px;
}
.CARS{
    background-color: yellow;
    boarder: 2px red;
    text-align: center;
    padding: 20px;
    margin: 20px;